/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/libre-baskerville-v14-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* libre-baskerville-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('./fonts/libre-baskerville-v14-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.site__header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__wrapper {
    display: flex;
    align-items: center;
}


.logo {
    margin-right: 950.44px;
}

.header__link {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 2.5714px;
    color: #7d7d7d;
    text-decoration: none;
}


.hero {
    padding-top: 40px;
    padding-bottom: 50px;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(7, 200px);
    gap: 40px;
}

.grid-item:first-child {
    background-image: url('./images/first.png');
    background-size: cover;
}
.grid-item:first-child > h3 {
    padding-top: 114px;
}


.grid-item:nth-child(2) {
    background-image: url('./images/second.png');
    background-size: cover;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
.grid-item:nth-child(2) > h3 {
    padding-top: 285px;
    margin-bottom: 6px;
}

.grid-item:nth-child(3) {
    background-image: url('./images/third.png');
    background-size: cover;
}
.grid-item:nth-child(3) > h3 {
    padding-top: 114px;
}

.grid-item:nth-child(4) {
    background-image: url('./images/fourth.png');
    background-size: cover;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.grid-item:nth-child(4) > h3 {
    padding-top: 285px;
    margin-bottom: 6px;
}

.grid-item:nth-child(5) {
    background-image: url('./images/fifth.png');
    background-size: cover;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
.grid-item:nth-child(5) > h3 {
    padding-top: 285px;
    margin-bottom: 6px;
}

.grid-item:nth-child(6) {
    background-image: url('./images/seventh.png');
    background-size: cover;
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}
.grid-item:nth-child(6) > h3 {
    padding-top: 485px;
    margin-bottom: 6px;
}

.grid-item:nth-child(7) { 
    background-image: url('./images/sixth.png');
    background-size: cover;
}
.grid-item:nth-child(7) > h3 {
    padding-top: 85px;
}

.grid-item:nth-child(8) {
    background-image: url('./images/eighth.png');
    background-size: cover;
}
.grid-item:nth-child(8) > h3 {
    padding-top: 85px;
    margin-bottom: 6px;
}

.grid-item:nth-child(9) {
    background-image: url('./images/nineth.png');
    background-size: cover;
    grid-row: 4 / 7;
    grid-column: 1 / 2;
}
.grid-item:nth-child(9) > h3 {
    padding-top: 485px;
    margin-bottom: 6px;
}

.grid-item:nth-child(10) {
    background-image: url('./images/tenth.png');
    background-size: cover;
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}
.grid-item:nth-child(10) > h3 {
    padding-top: 314px;
}


.grid-item:nth-child(11) {
    background-image: url('./images/solo.png');
    background-size: cover;
}
.grid-item:nth-child(11) > h3 {
    padding-top: 85px;
}

.grid-item:nth-child(12) {
    background-image: url('./images/eleventh.png');
    background-size: cover;
    grid-row: 5 / 7;
    grid-column: 3 / 4;
}
.grid-item:nth-child(12) > h3 {
    padding-top: 314px;
}

.grid-item:nth-child(13) {
    background-image: url('./images/last.png');
    background-size: cover;
    grid-row: 5 / 8;
    grid-column: 4 / 5;
}
.grid-item:nth-child(13) > h3 {
    padding-top: 514px;
}

.grid-item:nth-child(14) {
    background-image: url('./images/fouteenth.png');
    background-size: cover;
    grid-row: 6 / 8;
    grid-column: 2 / 3;
}
.grid-item:nth-child(14) > h3 {
    padding-top: 314px;
}

.grid-item:nth-child(15) {
    background-image: url('./images/same.png');
    background-size: cover;
}
.grid-item:nth-child(15) > h3 {
    padding-top: 85px;
}

.grid-item:nth-child(16) {
    background-image: url('./images/thirteenth.png');
    background-size: cover;
}
.grid-item:nth-child(16) > h3 {
    padding-top: 85px;
    margin-bottom: 6px;
}

.grid-item:nth-child(17) {
    background-image: url('./images/fifteenth.png');
    background-size: cover;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    line-height: 30px;
    color:#fff;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 32px;
    /*background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%);*/
}

p {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    opacity: 0.75;
    margin: 0;
    margin-left: 32px;
}





